html {
    background-color: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f7e0;
    color: #2f2f2f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
    margin: 0;
    padding: 0;
}

a, a:visited, a:link { color: dodgerblue; outline: none; padding-left: 3px; padding-right: 3px; text-decoration: none; }
a:active, a:hover { color: #ffac33; text-decoration: underline; }

header, footer, hgroup, nav, section { display: block; clear: both; }


.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
		margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }


/* Header and Footer */

header {
	position: relative;
	background: #5f5f5f;
	background-image: linear-gradient(to bottom, #d0d7c0 0%, #b0b7a0 100%);
	width: auto;
	min-height: 90px;
	padding: 10px;
	margin-bottom: 0px;
}

header a { color: #fff; }
header a:hover { color: #ffac33; text-decoration: none; }

header .logo { float: left; line-height: 35px; }
header .logo img { float: left; }
.header-name { color: #fff; font-size: 35px; padding: 10px; font-weight: bold; text-decoration: none; vertical-align: middle; line-height: 70px; }
.header-content { padding: 10px 0px 10px 0px; }

.header-nav { float: right; padding-top: 10px; }
.header-nav-list > li { float: left; margin-right: 10px; /* no variable */ list-style: none; }
.header-nav-list > li a { padding: 10px; color: #fff; font-size: 19px; border-radius: 6px; }
.header-nav-list > li a:hover { color: #ffac33; background: #7f7f7f; }


footer { text-align: center; height: auto; padding: 10px; }
footer p { margin: 0; }


/* Layout */

#pagebody {
	width: 80%;
	max-width: 1200px;
	min-height: 300px;
	margin: 0px auto;
	position: relative;
	background: #fff;
	padding: 10px;
}

/* Controls */

.widget { float: left; min-width: 20%; min-height: 400px; padding: 5px; }
.widget-controls { float: left; width: 77%; padding: 5px; border: 0px solid #686; border-radius: 10px; margin-bottom: 10px; }
.widget-controls h3 { border-bottom: 1px solid #cfcfcf; }

.innercontrolbox { display: inline-block; border: 0px solid gray; width: 51%; }
.controlbox > span, .innercontrolbox > span { display: inline-block; padding-right: 20px; padding-top: 5px; min-width: 200px; min-height: 35px; border: 0px solid green; vertical-align: top; }
.innercontrolbox > span { min-width: 100px; }
.controllabel { font-size: 15px; font-weight: bold; color: #634030; }
.innercontrollabel { font-size: 13px; font-weight: bold; color: #634030; }

.linkbox { margin-top: 10px; padding: 10px; background: #efefef; }

/* Generic */

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.w100 { width: 100px; }


/* Gradients */

.grad-darkgray {
	background-image: -webkit-linear-gradient(top, #5f5f5f 0%, #3f3f3f 100%);
	background-image: linear-gradient(to bottom, #5f5f5f 0%, #3f3f3f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f5f5f', endColorstr='#ff3f3f3f', GradientType=0);
	background-repeat: repeat-x;
}